html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.chat-side {
  width: $w-left;
  display: inline-block;
  color: #ffffff;
  &__header {
    height: $hi-hd;
    padding: 0 20px;
    background-color: #253141;
    &__user {
      width: 80%;
      display: inline-block;
      padding: 35px 0 0;
      font-size: $fo-si-hd-user;
      font-weight: bold;
      line-height: $line-hi-user;
      box-sizing: border-box;
    }
    &__new-group {
      display: inline-block;
      font-size: $fo-si-hd-user;
      line-height: $line-hi-user;
      box-sizing: border-box;
      a {
        text-decoration: none;
      }
    }
    &__edit-user {
      display: inline-block;
      font-size: $fo-si-hd-user;
      line-height: $line-hi-user;
      box-sizing: border-box;
    }
  }
  &__groups {
    height: calc(100vh - #{$hi-hd});
    padding: 0 20px;
    background-color: #2f3e51;
    overflow: scroll;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        font-size: $fo-si-grs-name;
      }
      &__message {
        font-size: $fo-si-grs-lat;
        margin-top: 5px;
      }
    }
  }
}

.chat-main {
  width: calc(100vw - #{$w-left});
  float: right;
  background-color: $bgc-ch-main;
  color: #434a54;
  &__header {
    height: $hi-hd - 1px;
    padding: 0 $pad-main;
    border-bottom: solid 1px #eeeeee;
    &__group {
      padding: 35px 0 0;
      font-size: 20px;
      line-height: 20px;
    }
    &__member {
      padding: 15px 0 0;
      font-size: $fo-si-hd-mem;
      line-height: $line-hi-hd-mem;
      color: $fon-col-hd-mem;
      &__name {
        display: inline-block;
      }
    }
    &__edit-btn {
      height: 40px;
      float: right;
      margin: 28px 0 0 0;
      padding: 0 20px;
      font-size: 30px;
      color: $fon-col-hd-edit;
      border: solid 1px $fon-col-hd-edit;
      text-align: right;
      a {
        text-decoration: none;
      }
    }
  }  
  &__messages {
    height: calc(100vh - #{$hi-hd} - #{$hi-form});
    padding: 6px $pad-main 0;
    box-sizing: border-box;
    overflow: scroll;
      &__user {
        display: inline-block;
        padding: $pad-mes-user 0 0;
        font-size: $fo-si-mes-user;
        line-height: $line-hi-mes-user;
      }
      &__day {
        display: inline-block;
        padding-left: $pad-mes-day;
        font-size: $fo-si-hd-mem;
        line-height: $line-hi-hd-mem;
        color: $fon-col-hd-mem;
      }
      &__text {
        padding: $pad-mes-text 0 0;
        font-size: $fo-si-mes-text;
        line-height: $line-hi-mes-text;
      }
  }
  &__form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: #ffffff;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: #38AEF0;
      border: none;
      color: #ffffff;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}