// width
$w-left: 300px;
$w-form-send: 25%;

// height
$hi-hd: 100px;
$hi-form: 90px;

// padding
$pad-main: 40px;
$pad-form: 20px;
$pad-grs-name: 20px;
$pad-grs-lat-up: 5px;
$pad-grs-lat-down: 20px;
$pad-mes-user: 40px;
$pad-mes-day: 10px;
$pad-mes-text: 10px;

// font-size
$fo-si-hd-user: 16px;
$fo-si-grs-name: 15px;
$fo-si-grs-lat: 11px;
$fo-si-hd-mem: 12px;
$fo-si-mes-user: 16px;
$fo-si-mes-text: 14px;

// line-height
$line-hi-user: 16px;
$line-hi-grs-name: 15px;
$line-hi-grs-lat: 11px;
$line-hi-hd-mem: 12px;
$line-hi-mes-user: 16px;
$line-hi-mes-text: 14px;
$line-hi-from-text: 50px;

// background-color
$bgc-ch-main: #fafafa;

// font-color
$fon-col-hd-mem: #999999;
$fon-col-hd-edit: #38aef0;